services:
  database:
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - 5433:5432

  server:
    build:
      context: backend
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    env_file: .env
    ports:
      - 8000:8000
    depends_on:
      - database
    volumes:
      - ./backend:/app/api
      - photoes:/backend/uploads

  client:
    build:
      context: frontend
      dockerfile: Dockerfile
    command: npm run start
    env_file: .env
    ports:
      - 3000:3000
    depends_on:
      - server
    volumes:
      - ./frontend:/app/frontend:cached  
      - /app/frontend/node_modules       
    working_dir: /app/frontend  
      


  bot:
    build:
      context: tg_bot
      dockerfile: Dockerfile
    command: python main.py
    env_file: .env
    depends_on:
      - database
    ports:
      - "8081:8081"
    volumes:
      - ./tg_bot:/app/bot

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    depends_on:
      - server
      - client
      - bot
    ports:
      - 80:80

volumes:
  pgdata:
  photoes:
