fastapi==0.103.1               # Основной фреймворк FastAPI
uvicorn[standard]==0.23.2      # ASGI-сервер для запуска FastAPI-приложения
SQLAlchemy==2.0.21             # ORM для работы с базой данных
pydantic==2.3.0                # Валидация данных и создание схем
python-dotenv==1.0.0           # Работа с переменными окружения
alembic==1.11.1                # Миграции базы данных
asyncpg==0.27.0                # Асинхронный драйвер PostgreSQL (если используется PostgreSQL)
bcrypt==4.0.1                  # Хеширование паролей (если используется аутентификация)
passlib[bcrypt]==1.7.4         # Библиотека для работы с хешированием паролей (совместимо с bcrypt)
httpx==0.24.1                  # Асинхронные HTTP-запросы, если требуется
