
/* Стили для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .manage-user-modal {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Стили для текстовых полей и кнопок */
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 100%;

  }
  
.input-group input, 
.input-group select {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px; 
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.model-content-wrapper {
  height: 100%;
}

.input-group input:focus, 
.input-group select:focus {
    border-color: #1B4B73; 
}

  .user-profile-label {
    font-family: "Montserrat", sans-serif; 
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin: 5px;
  }
  
  
  .user-profile-save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    background-color: #1B4B73; 
    color: white;
    border: none;
    transition: all 0.3s ease;
    margin: 15px 0 0;
  }
  
  .user-profile-save:hover {
    background-color: #1B4B73;
  }
  
  .user-profile-save:last-child {
    background-color: #4022D7;
  }
  
  .user-profile-save:last-child:hover {
    background-color: #4022D7;
  }
  
  /* Стили для ошибок */
  .error-message {
    color: rgb(255, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: -10px;
  }
  
  