.comment {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.comment-user-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.comment-author {
    font-weight: bold;
    margin: 0 7px;
}

.comment-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-description {
    display: flex;
}