body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    min-height: 50vh;
    background: #ffffff;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0;
    padding-top: 70px;
   scrollbar-width: thin;
   scrollbar-color: #b9ddff #ffffff ;

}


::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: #ffffff;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #b9ddff;
}
.board {
    margin-top: 1em;
}

.board-main {
    margin: 1em;
}

.board-columns {
    display: flex;
    flex-direction: row;
    gap: 1em;
}