body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #ffffff;
    flex-direction: column;
    margin: 0;
    padding-top: 70px;
}

.board {
    margin-top: 1em;
}

.board-main {
    margin: 1em;
}

.board-columns {
    display: flex;
    flex-direction: row;
    gap: 1em;
}