/* Подгрузка шрифтов */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.body-wrapper-log {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    box-sizing: border-box;
    padding-top: 60px; 
}

.main {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

.login-title {
    font-family: "DynaPuff", serif;
    font-size: 60px;
    color: #1B4B73;
    margin-bottom: 5px;
}

.login-label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

.login-input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.login-button {
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color:#1B4B73;
    width: 85%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.login-button:hover {
    background-color:  #2e71a9;
}

.login-href {
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
