.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 133, 255);
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .nav-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
  }

  .navbar-container {
    display: flex;
    width: 60%;
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-end {
    justify-content: flex-end;
  }
  
  .nav-button:hover {
    background-color: white;
    color: rgb(0, 133, 255);
    transform: scale(1.05);
  }
  