.filter-container {
    display: flex;
    align-items: center; 
    position: relative;
    gap: 10px; 
}

.filter-button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #6C97BF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif; 
    font-size: 16px;

}

.filter-button:hover {
    background-color: #a4d3ff;
}

.filter-menu {
    border-radius: 25px; 
    padding: 15px;
    background-color: #6C97BF; 
    position: absolute;
    z-index: 1000;
    color: white; 
    width: 170px; 
    top: 100%; 
    left: 0; 
    margin-top: 10px; 
}

.filter-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

.filter-entry label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.filter-entry input,
.filter-entry select {
    border: 2px solid white; 
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    outline: none;
    background-color: #6C97BF; 
    color: white; 
}

.filter-entry input:focus,
.filter-entry select:focus {
    border: 2px solid #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); 

}

.filter-entry input[type="date"] {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: textfield; 
    border: 2px solid white; 
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: rgb(253, 253, 253); 
    background-color: transparent; 
    position: relative;
}

.filter-entry input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%); 
    cursor: pointer; 
}

.filter-close-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #C7E5FC;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
    text-align: center; 
    margin: 10px auto 0; 
    display: block;
}

.filter-close-button:hover {
    background-color: #ebf6ff;
}

.Apply{
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #6C97BF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif; 
}

.Apply:hover{
    background-color: #a4d3ff;
}

.Text {
    border-radius: 20px; 
    padding: 8px;
    border: 2px solid #6C97BF; 
    outline: none; 
  }
  
  .Text:focus {
    border-color: #ffffff; 
    box-shadow: 0 0 5px #a4d3ff; 
  }