.add-task {
    margin-top: auto;
    font-family: "Montserrat", sans-serif; 
    font-weight: 800;
    padding: 8px 30px;
    font-size: 18px; 
    width: 100%; 
    border-radius: 15px;
    border: none;
}
