body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: #D6CEFF;
  flex-direction: column;
  margin: 0;
}

.column-width {
  min-width: 320px;
  width: 320px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.font-semibold {
  font-weight: 700;
}

.font-regular {
  font-weight: normal;
}

.text-center {
  text-align: center;
}