.board-column {
    padding: 1em;
    border-radius: 20px;
    width: 35vmin;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: auto;
}

.board-column-header {
    display: flex;
    font-family: "Montserrat", sans-serif; 
    justify-content: space-between;
    font-size: 22px;
    font-weight: 900;
    padding: 5px;
}