.add-column {
    background-color: #6C97BF;
    color: white;
    border: transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;  
    justify-content: center; 
    padding: 0.5em 1em;
    font-family: "Montserrat", sans-serif; 
    width: 200px; 
    height: 40px; 
    font-size: 16px;
    font-weight: 700;
}

.add-column:hover{
    background-color: #a4d3ff;
}

input.border{
    border-radius: 20px; 
    padding: 8px 12px; 
    border: 2px solid #a4d3ff; 
    outline: none;
    transition: all 0.2s ease; 
}

input.border:hover{
    border-color: #ffffff; 
    box-shadow: 0 0 5px #a4d3ff; 
}
