.admin-container {
    padding: 20px;
    background-color: #f9f9f9;
    color: #010101;
    font-family: "Montserrat", sans-serif;

}

.Admin_page_h {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #1B4B73;
    font-weight: bold;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #1a4b7a;
    padding: 10px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.user-table th {
    background-color: #6C97BF;
    color: #0e314d;
    font-weight: bold;
    
}

.user-table tr:hover {
    background-color: #e9f2f7;
}

.admin-button {
    padding: 5px 10px;
    background-color: #6C97BF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color:#ffffff ;
}

.admin-button:hover {
    background-color: #89b2d8;
}