.task {
    background-color: white;
    font-family: "Montserrat", sans-serif; 
    border-radius: 20px;
    text-align: justify;
    margin: 1em 0;
    width: 100%;
    color: black;
    font-weight: 500;
}

.task-pad {
    overflow: hidden;
    padding: 0.5em;  
}